body {
    margin: 0;
    text-align: left;

    /*Placeholder image for entire background of home page*/
    background-image: url('../Placeholder_Images/IMG_1766.PNG');


    /*Header first div*/

}