/*Header first div*/
.home-banner {
    text-align: center;
}

body {
    margin: 0;

    /*Placeholder image for body background*/
    /*background-image: url('../Placeholder_Images/IMG_1769.PNG');*/
    background-color: white;
}

/*Navbar menu (base)*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/*Navbar menu links*/
.sidenav a {
    padding: 8px 8px 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*sidenav hover color (change later if want to)*/
.sidenav a:hover {
    color: #f1f1f1;
}

/*Position and style the close button (top rt corner)*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*For smaller screens, like phones*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}    
}